@font-face {
  font-family: "NPSfontExtrabold";
  src: url("./assets/font/NPSfont_extrabold.ttf") format("truetype");
}

@font-face {
  font-family: "NPSfontBold";
  src: url("./assets/font/NPSfont_bold.ttf") format("truetype");
}

@font-face {
  font-family: "NPSfontRegular";
  src: url("./assets/font/NPSfont_regular.ttf") format("truetype");
}

:root {
  font-family: "NPSfontBold", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.2;

  color-scheme: light dark;

  background-color: #ffffff;
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

div {
  box-sizing: border-box;
}

.custom-button {
  border: none;
  background-color: #ededed;
}

.custom-button:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.custom-button:active {
  background-color: #bcbcbc;
}

a {
  text-decoration-line: none;
}

a:hover {
  text-decoration-line: underline;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#ic_speech:hover {
  cursor: pointer;
}
