@font-face {
  font-family: "NPSfontExtrabold";
  src: url("./assets/font/NPSfont_extrabold.ttf") format("truetype");
}

@font-face {
  font-family: "NPSfontBold";
  src: url("./assets/font/NPSfont_bold.ttf") format("truetype");
}

@font-face {
  font-family: "NPSfontRegular";
  src: url("./assets/font/NPSfont_regular.ttf") format("truetype");
}

:root {
  font-family: "NPSfontRegular", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
  box-sizing: border-box;
}

#app {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home {
  background-color: #19aaaf;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 400px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hometitle {
  font-family: NPSfontExtrabold;
  color: #ffffff;
  font-size: 5rem;
}

#homelevel {
  font-family: NPSfontBold;
  color: #ffffff;
  font-size: 2.5rem;
}

#startbtn {
  border: none;
  border-radius: 100px;
  height: 80px;
  width: 220px;
  font-size: 1.875rem;
  font-family: "NPSfontBold";
  background-color: #eaeaea;
  color: #000000;
}

#startbtn:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

#startbtn:active {
  background-color: #bcbcbc;
}

#titlebar {
  width: 100vw;
  height: 80px;
  background-color: #19aaaf;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  font-family: "NPSfontBold";
  font-size: 1.5rem;
  color: #ffffff;
  width: 100%;
  min-width: 880px;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
}

#contents {
  width: 880px;
  height: calc(100vh - 80px);
  min-height: 600px;
  padding: 40px 0 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#statement {
  font-family: "NPSfontBold";
  font-size: 1.5rem;
  width: 100%;
}

#wrapper {
  height: calc(100% - 110px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#expression {
  font-family: "NPSfontExtrabold";
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

#numbuttons {
  width: 690px;
  height: 60px;
  position: absolute;
  bottom: 90px;
  display: flex;
  justify-content: space-between;
}

rect,
path {
  stroke: #a1bee2;
  stroke-width: 12;
  fill: transparent;
}

.frontcircle {
  fill: #f27d6b;
}

.backcircle {
  fill: #6e6bb3;
}

.numbutton {
  background-color: #eaeaea;
  height: 100%;
  width: 60px;
  border: none;
  border-radius: 10px;
  color: #000000;
  font-family: "NPSfontExtrabold";
  font-size: 2.5rem;
}

.numbutton:hover {
  background-color: #d1d1d1;
  cursor: pointer;
}

.numbutton:active {
  background-color: #bcbcbc;
}
