@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SCDreamRegular";
  src: url("./assets/Fonts/SCDreamRegular.otf") format("opentype");
}
@font-face {
  font-family: "SCDreamMedium";
  src: url("./assets/Fonts/SCDreamMedium.otf") format("opentype");
}
@font-face {
  font-family: "SCDreamBold";
  src: url("./assets/Fonts/SCDreamBold.otf") format("opentype");
}
@font-face {
  font-family: "SCDreamBlack";
  src: url("./assets/Fonts/SCDreamBlack.otf") format("opentype");
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #000000;
  margin: 0;
}

:root {
  font-family: "SCDreamRegular", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #f6f6f6;
  background-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0px;
}
